.menu {
  background: var(--dropdown-bg);
  position: absolute;
  border-radius: 12px;
  z-index: var(--dropdown-z-index);
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}
