:root {
  --font-family-main: "JetBrains", consolas, "Times New Roman", serif;
  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // Размеры
  --navbar-height: 50px;
  --sidebar-width: 200px;
  --sidebar-width-collapsed: 60px;
  --btn-size-m: 24px;
  --btn-size-l: 32px;
  --btn-size-xl: 40px;
  --modal-width: 70%;

  // Цвета
  --color-black: #000;
  --color-black-light: #2c2c2c;
  --color-white: #fff;
  --color-gray: #e3e3e3;
  --color-gray-dark: #1f1f1f;
  --color-blue: #0232c2;
  --color-blue-dark: #002483;
  --color-blue-light: #0040ea;
  --color-green: #06fc99;
  --color-green-dark: #037c4f;
  --color-green-light: #07ad6a;
  --color-overlay: rgba(0 0 0 / 60%);
  --color-purple: #a98eea;
  --color-lightblue: #6c8ee4;

  // TODO выбрать нормальный цвет для ошибки
  --color-error-light: #f00;
  --color-error-dark: #c90000;

  //  gray-dark: #2D2D2D;
  //  marine: #6EC1E4;
  //  --e-global-color-primary: #6EC1E4;
  //  --e-global-color-secondary: #54595F;
  //  --e-global-color-text: #7A7A7A;
  //  --e-global-color-accent: #61CE70;
  //  --e-global-color-f156e4a: #FFFFFF;
  //  --e-global-color-c0bcced: #000000;

  // Индексы
  --modal-z-index: 10;
  --modal-negative-z-index: -1;
  --listbox-z-index: 1000;
  --dropdown-z-index: 1000;
  --popover-z-index: 1000;
}
