.TextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_title {
    font: var(--font-l);
    color: var(--secondary-color);
  }

  &_text {
    font: var(--font-m);
    color: var(--primary-color);
  }
}

.error {
  .TextWrapper_title {
    color: var(--color-error-light);
  }

  .TextWrapper_text {
    color: var(--color-error-dark);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
