.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width, opacity 0.3s;
  opacity: 1;
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.lang {
  margin-left: 20px;

  &:hover {
    color: var(--inverted-secondary-color);
  }
}

.collapseButton {
  position: absolute;
  right: 0;
  top: 63%;

  // Цвет стрелочки при hover
  &:hover > svg > path {
    fill: var(--inverted-secondary-color);
  }
}

.items {
  height: 50%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 40px;
  display: flex;
  align-items: center;

  // Цвет шрифта при hover
  &:hover {
    color: var(--inverted-secondary-color);
  }

  // Цвет 1-ой и 2-ой svg при hover
  &:nth-child(1):hover > svg > rect {
    stroke: var(--inverted-secondary-color);
  }

  &:nth-child(-n + 2):hover > svg > path {
    stroke: var(--inverted-secondary-color);
  }

  // Цвет 3-ей иконки при hover
  &:nth-child(3):hover > svg > path {
    stroke: var(--inverted-secondary-color);
  }

  &:nth-child(3):hover > svg > circle {
    stroke: var(--inverted-secondary-color);
  }

  &:nth-child(3):hover > svg > rect {
    stroke: var(--inverted-secondary-color);
  }

  // Цвет 4-ой иконки при hover
  &:nth-child(4):hover > svg > path {
    stroke: var(--inverted-secondary-color);
  }

  &:nth-child(4):hover > svg > circle {
    stroke: var(--inverted-secondary-color);
  }
}

.link {
  margin-left: 15px;
  visibility: visible;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    margin-left: 0;
    visibility: hidden;
    width: 0;
    transition: visibility 0.1s;
  }

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }
}

.hovered {
  opacity: 0.8;
}
