.item {
  margin-top: 40px;
  display: flex;
  align-items: center;

  // Цвет шрифта при hover
  &:hover {
    color: var(--inverted-secondary-color);
  }

  // Цвет 1-ой и 2-ой svg при hover
  &:nth-child(1):hover > svg > rect {
    stroke: var(--inverted-secondary-color);
  }

  &:nth-child(-n + 2):hover > svg > path {
    stroke: var(--inverted-secondary-color);
  }

  // Цвет 3-ей иконки при hover
  &:nth-child(3):hover > svg > path {
    stroke: var(--inverted-secondary-color);
  }

  &:nth-child(3):hover > svg > circle {
    stroke: var(--inverted-secondary-color);
  }

  &:nth-child(3):hover > svg > rect {
    stroke: var(--inverted-secondary-color);
  }

  // Цвет 4-ой иконки при hover
  &:nth-child(4):hover > svg > path {
    stroke: var(--inverted-secondary-color);
  }

  &:nth-child(4):hover > svg > circle {
    stroke: var(--inverted-secondary-color);
  }

  // Цвет 5-ой иконки при hover
  &:nth-child(5):hover > svg > path {
    fill: var(--inverted-secondary-color);
  }
}

.link {
  margin-left: 15px;
  transition: font-size 0.2s ease-in;
}

.collapsed {
  .link {
    margin-left: 0;
    width: 0;
    font-size: 0;
  }
}
