.app.light {
    --bg-color: var(--color-gray);
    --inverted-bg-color: var(--color-black);

    --primary-color: var(--color-black);
    --inverted-primary-color: var(--color-white);

    --secondary-color: var(--color-blue);
    --inverted-secondary-color: var(--color-purple);
}
