.app_light_theme {
  --bg-color: var(--color-gray);
  --inverted-bg-color: var(--color-black);
  --primary-color: var(--color-black);
  --inverted-primary-color: var(--color-white);
  --secondary-color: var(--color-blue);
  --inverted-secondary-color: var(--color-green);
  --color-modal-bg: var(--color-gray);

  // TODO сделать нормальные цвета
  --skeleton-shadow: var(--color-blue-dark);
  --skeleton-color: var(--color-blue-light);
  --code-bg: var(--color-white);
  --card-bg: var(--color-white);
}
