.app_purple_theme {
  // TODO внедрить новую тему
  --bg-color: var(--color-purple);
  --inverted-bg-color: var(--color-white);
  --primary-color: var(--color-white);
  --inverted-primary-color: var(--color-purple);
  --secondary-color: var(--color-purple);
  --inverted-secondary-color: var(--color-purple);
  --color-modal-bg: var(--color-lightblue);

  // TODO сделать нормальные цвета
  --skeleton-shadow: var(--color-blue-dark);
  --skeleton-color: var(--color-blue-light);
}
