.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding: 20px;
}

.dropdown {
  margin-left: auto;
}

.links {
  &:hover {
    color: var(--inverted-secondary-color);
  }
}

.mainLink {
  margin-right: 20px;
}

.appName {
  width: var(--sidebar-width);
}
