.list {
  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 16px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  .shortText {
    max-height: 200px;
    overflow-y: hidden;
  }
}

.tile {
  width: 230px;
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);

    .date {
      display: block;
    }
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .date {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types {
    width: 60%;
  }

  .types p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
