.Dropdown {
  position: relative;
  width: fit-content;
}

.btn {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.menu {
  background: var(--dropdown-bg);
  position: absolute;
  border-radius: 12px;
  z-index: var(--dropdown-z-index);
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}
